// Sizes


$font-h1-desktop: 14rem;
$font-h1-tab: 9rem;
$font-h1-mobile: 5rem;

$font-h2-desktop: 6rem;
$font-h2-mobile: 4.5rem;


$font-text: 2rem;

// Weight

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

// font family

$font-anton: 'Anton', sans-serif;
$font-rajdhani: 'Rajdhani', sans-serif;

// baisic typography
html { 
    font-size: 10px; 
}

h1 {
    font-size: $font-h1-desktop;
    color: $color-white;
    font-family: $font-anton;
    line-height: $font-h1-desktop;
    font-weight: $font-regular;
    @include break-point-down(md) {
        font-size: $font-h1-tab;
        line-height: $font-h1-tab;
    }
    @include break-point-down(mb) {
        font-size: $font-h1-mobile;
        line-height: $font-h1-mobile;
    }
}

h2 {
    font-size: $font-h2-desktop;
    font-family: $font-anton;
    line-height: $font-h2-desktop;
    text-transform: uppercase;
    font-weight: $font-regular;
    @include break-point-down(mb) {
        font-size: $font-h2-mobile;
        line-height: $font-h2-mobile;
    }
}


p,
span {
    font-family: $font-rajdhani;
    font-weight: $font-regular;
    font-size: $font-text;
}

a {
    text-decoration: none;
    color: $color-white;
}