// main colors

$color-black: #000;
$color-white: #fff;

$color-dark: #121212;
$color-red: #EF3024;
$color-gray: #262626;
$color-blue: #244D7D;
$color-gray-light: #8D8D8D;
$color-gray-darker: #575757;
$color-facebook: #3b5998;
$color-pink: #F12CC6;

